* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#page-grid-wrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "navbar navbar navbar"
    ". header ."
    ". main ."
    "footer footer footer";
    grid-template-columns: 1fr 70vw 1fr;
    grid-template-rows: 1.5rem 3rem 1fr 1.5rem;
}
#navbar {
    text-align: end;
    background-color: black;
    grid-area: navbar;
}
#navbar a {
    text-decoration: none;
    color: white;
}
#header {
    grid-area: header;
}
#main {
    position: relative;
    margin: 1rem;
    border: 15px solid rgb(68, 68, 68);
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer {
    text-align: end;
    background-color: black;
    grid-area: footer;
}
#footer address {
    color: white;
}
#button-container, #study-container, #study-options-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#hidden-div {
    display: none;
}
table {
    font-size: 1.3rem;
    border-spacing: 0;
    border: 1px solid black;
    box-shadow: 5px 5px 3px rgb(48, 48, 48);
}
td, th {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 1rem;
}
td:hover {
    background-color: cornflowerblue;
    cursor: pointer;
}
.option-button {
    border: none;
    text-decoration: none;
    font-size: 2rem;
    width: 20rem;
    padding: 1rem 0;
    background-color: black;
    color: white;
    margin-bottom: 1rem;
}
.option-button:hover {
    cursor: pointer;
    background-color: rgb(81, 81, 219);
}
#close-button {
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: none;
    font-size: 2rem;
    border: none;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0.3rem; 
}
#close-button:hover {
    cursor: pointer;
    color: red;
}
#study-cards-container {
    display: none;
}